<h1>Books</h1>

{% for book in books %}
<div class="book">
    <h2>{{ book[1] }}</h2>
    <p><strong>ISBN:</strong> {{ book[0] }}</p>
    <p><strong>Number of Pages:</strong> {{ book[2] }}</p>
    <p><strong>Publisher:</strong> {{ book[3] }}</p>
    <p><strong>Language:</strong> {{ book[4] }}</p>
    <p><strong>Summary:</strong> {{ book[5] }}</p>
    <p><strong>Image URL:</strong> {{ book[6] }}</p>
    <p><strong>Authors:</strong> {{ book[7] }}</p>
    <p><strong>Keywords:</strong> {{ book[8] }}</p>
    <p><strong>Categories:</strong> {{ book[9] }}</p>
</div>
{% endfor %}
