<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="/change_password/{{user_type}}">
        {{ form.csrf_token }}
        <p>
            {{ form.current_password.label }}:<br>
            {{ form.current_password }}
        </p>
        <p>
            {{ form.new_password.label }}:<br>
            {{ form.new_password }}
            {% for error in form.new_password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }}:<br>
            {{ form.confirm_password }}
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
</body>
</html>
