<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p><a href="/register/operator">Register as Operator</a></p>
    <p><a href="/register/user">Register as User</a></p>
</body>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="/login">
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
    </form>
</body>
</html>
