<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
    <h1>Registration Page</h1>
    <form method="POST" action="/register/user">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name() }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name() }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email() }}
        </p>
        <p>
            {{ form.school_name.label }}<br>
            {{ form.school_name(class="form-select") }}
        </p>
        <p>
            {{ form.date_of_birth_day.label }}<br>
            {{ form.date_of_birth_day(class="form-select") }}
        </p>
        <p>
            {{ form.date_of_birth_month.label }}<br>
            {{ form.date_of_birth_month(class="form-select") }}
        </p>
        <p>
            {{ form.date_of_birth_year.label }}<br>
            {{ form.date_of_birth_year(class="form-select") }}
        </p>
        <p>
            {{ form.is_teacher.label }}<br>
            {{ form.is_teacher() }}
        </p>
        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>
    </form>
</body>
</html>
