<!DOCTYPE html>
<html>
<head>
    <title>All Schools</title>
</head>
<body>
    <h1>All Schools</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Street</th>
            <th>Street Number</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Principal Full Name</th>
            <th>Operator ID</th>

        </tr>
        {% for school in schools %}
        <tr>
            <td style="padding-right: 20px;">{{ school[0] }}</td>
            <td style="padding-right: 20px;">{{ school[1] }}</td>
            <td style="padding-right: 20px;">{{ school[2] }}</td>
            <td style="padding-right: 20px;">{{ school[3] }}</td>
            <td style="padding-right: 20px;">{{ school[4] }}</td>
            <td style="padding-right: 20px;">{{ school[5] }}</td>
            <td style="padding-right: 20px;">{{ school[6] }}</td>
            <td style="padding-right: 20px;">{{ school[7] }}</td>
            <td style="padding-right: 20px;">{{ school[8] }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="/school/add_school" class="btn btn-primary">Add School</a></p>
</body>
</html>
